<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App_</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="app">
        <ul class="list">
            <li v-for="(i, index) in ingredients">{{i}} - {{index}}</li>
        </ul>
        <hr>
        <ul class="list">
            <li v-for="person in persons">
                <ul>
                    <li v-for="(value, key, count) in person">{{key}} : {{value}} - {{count}}</li>
                </ul>
            </li>
        </ul>
        <hr>
        <span v-for="i in 10">{{i}}</span>
        <template v-for="(i, index) in ingredients">
            <h1>{{i}}</h1>
            <p>{{index}}</p>
        </template>
    </div>
    
    <script src="../node_modules/vue/dist/vue.min.js"></script>
    <script src="./script.js"></script>
</body>
</html>