*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


ul.list li{
    list-style-type: none;
    border: 2px solid rgba(51, 51, 51, 0.452);
    border-bottom: none;
    padding: 2px;
}
ul.list li:nth-of-type(1){
    border-radius: 8px 8px 0 0;
}
ul.list li:nth-last-of-type(1){
    border-bottom: 2px solid rgba(51, 51, 51, 0.452);
    border-radius: 0 0 8px 8px;
}