*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app{
    position: relative;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.section{
    text-align: center;
    padding: 12px;
    box-shadow: 8px 8px 20px rgb(0, 0, 0, 0.09);
    margin: 2em;
    border-radius: 8px;
    /* width: fit-content;
    min-width: 200px;
    height: fit-content;
    min-height: 200px; */
}

h1{
    margin: 2em;

}

button{
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    background: rgb(57, 159, 255);
    color: #fff;
    margin: 2em;
}