<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="app">

        <div class="boxes-cont">
            <div class="box" @click="attachRed = !attachRed" :class="divClasses"></div>
            <div class="box" @click="attachRed = !attachRed" :class="{blue : attachRed}"></div>
            <div class="box" @click="attachRed = !attachRed" :class="[color, {red: attachRed}]"></div>
        </div>

        <input type="text" v-model="color">
        <div class="group-cont">
            <label for="green">green</label>
            <input type="radio" name="green" v-model="color" value="green">
            <label for="red">red</label>
            <input type="radio" name="red" v-model="color" value="red">
            <label for="blue">blue</label>
            <input type="radio" name="blue" v-model="color" value="blue">
        </div>

        <div class="boxes-cont">
            <div class="box" :style="{backgroundColor: newcolor}"></div>
            <div class="box" :style="[setWidth, {backgroundColor: newcolor}]">
                <span>{{width}}</span>
            </div>
            <div class="box" :style="{backgroundColor: newcolor}"></div>
        </div>

        <input type="range" name="width" v-model="width" max="1000" >
        <input type="color" name="color" v-model="newcolor">
    </div>
    
    <script src="../node_modules/vue/dist/vue.min.js"></script>
    <script src="./script.js"></script>
</body>
</html>